.kartu-ppdb {
	height: 14.85cm;
	position: relative;
	display: flex;
	flex-flow: column nowrap;
	background: white;
	margin: 0;
	padding: 0;
	font-family: Helvetica, sans-serif;
	box-sizing: content-box;
	border: 1px solid #212121;
	border-bottom: initial;

	&__wrapper {
		width: 21cm;
		height: 29.7cm;
		display: flex;
		flex-flow: column nowrap;
		margin: 0 auto;
		justify-content: center;
		align-items: center;

		&::after {
			content: '';
			position: absolute;
			box-sizing: border-box;
			width: 21cm;
			height: 1px;
			top: 14.85cm;
			left: 50%;
			transform: translate(-50%, 0);
			border-bottom: 1px dashed #212121;
		}
	}

	&:last-child::after {
		content: 'Potongan Lembar Untuk Panitia';
		position: absolute;
		left: 50%;
		top: 10px;
		transform: translateX(-50%);
		text-align: center;
		color: rgba(40, 40, 40, .6);
		font-size: 13px;
	}

	&__header {
		display: flex;
		flex-wrap: nowrap;
		width: 100%;
		padding: 12px 27px;
		border-bottom: 1px solid #212121;
	}

	&__head-logo {
		display: flex;
		flex-wrap: nowrap;
		justify-content: center;
		align-items: center;
		flex-basis: 10%;
		flex-grow: 1;

		img {
			display: block;
			width: 100%;
			margin: 0 auto;
		}
	}

	&__heading-wrapper {
		flex-grow: 8;
		flex-basis: 80%;
		display: flex;
		flex-flow: column nowrap;
		justify-content: center;;
		align-items: center;
	}

	&__heading {
		font-size: 1.12rem;
		display: block;
		line-height: 1.34;
		text-align: center;
	}

	&__content {
		display: flex;
		flex-flow: column nowrap;
		width: 100%;
		padding: 8px 27px;
	}

	&__content-header {
		position: relative;
		padding: 0 0 3px 0;
		font-size: 1.03rem;
		line-height: 1.24;
		text-align: center;
		border-bottom: 1px solid black;
		border-width: 10%;
	}

	&__form-section {
		display: flex;
		flex-wrap: nowrap;
		padding: 20px 0 12px;
	}

	&__photo-wrapper {
		flex-basis: 30%;
		flex-grow: 3;
	}

	&__photo-frame {
		position: relative;
		width: 2.8cm;
		height: 3.8cm;
		display: block;
		margin: 0 auto;
		box-sizing: border-box;
		border: 1px solid #212121;

		&::after {
			content: 'Pas Foto 3x4';
			font-size: 12px;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			display: block;
			text-align: center;
		}
	}

	&__form-wrapper {
		flex-basis: 70%;
		flex-grow: 7;
	}

	&__form {
		display: flex;
		flex-wrap: wrap;
		width: 100%;
		font-size: 16px;
		line-height: 1.36;
	}

	&__form-title {
		display: block;
		width: 27%;
	}

	&__form-divider {
		display: block;
		width: 6px;
	}

	&__form-content {
		display: block;
		width: calc(73% - 6px);
		padding-left: 5px;
	}

	&__info-section {
		display: flex;
		flex-wrap: nowrap;
		padding: 20px 0 12px;
	}

	&__schedule-wrapper {
		flex-basis: 50%;
		flex-grow: 1;
	}

	&__schedule {
		display: block;
		width: 89%;
		border-collapse: collapse;
		font-size: 13px;

		thead, tbody {
			width: 100%;
		}

		thead, tbody, tr, th, td {
			box-sizing: border-box;
			border: 1px solid #212121;
		}

		th, td {
			padding: 10px 15px;
		}
	}

	&__signs {
		flex-basis: 50%;
		flex-grow: 1;
	}

	&__sign-graf {
		font-size: 16px;
		line-height: 1.39;
	}

	&__hand-sign-wrapper {
		padding: 10px 12px;
	}

	&__stamp {
		width: 60px;
		margin: 0;
		display: inline-block;

		img {
			width: 100%;
			display: block;
		}
	}

	&__hand-sign {
		width: 92px;
		margin: 0;
		display: inline-block;

		img {
			width: 100%;
			display: block;
		}
	}

	&::after {
		content: 'Potongan Lembar Untuk Peserta';
		position: absolute;
		left: 50%;
		bottom: 10px;
		transform: translateX(-50%);
		text-align: center;
		color: rgba(40, 40, 40, .6);
		font-size: 13px;
	}

	$component: &;

	&:last-child {
		border-top: none;
		border-bottom: 1px solid #212121;

		#{$component}__header {
			padding: 32px 27px 12px;
		}
	}
}

@page {
	size: A4;
	margin: 0;
}

@media print {
	html, body {
		width: 21cm;
		height: 29.7cm;
	}
}