.kartu-ppdb {
	flex: 1.05;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	position: relative;
	width: 367px;
	border: 2px solid black;
	font-family: Helvetica, sans-serif;

	&__wrapper {
		border: 1px dashed black;
		margin: 20px;
		padding: 5px;
		display: inline-flex;
		flex-wrap: nowrap;
		width: auto;
	}
	
	&__header {
		flex: 2;
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		padding: 6px 10px;
		width: 100%;
		border-bottom: 2px solid black;
	}

	&__logo-wrapper {
		flex: 2;			
		display: flex;
		flex-wrap: no-wrap;
		justify-content: center;
		align-content: center;
		width: 50px;
		height: 50px;
		padding: 1px;
	}

	&__logo {
		display: block;
		position: relative;
		width: 100%;
		height: 100%;
	}

	&__head-wrapper {
		flex: 7;
		display: flex;
		flex-flow: column wrap;
		justify-content: center;
		align-content: center;
		align-items: center;
		width: calc(100% - 100px);
		height: 100%;
		padding: 1px;
	}

	&__head {
		display: flex;
		font-weight: 700;
		font-size: 8.7px;
		position: relative;
		text-align: center;

		&--thin {
			font-weight: 500;
		}

		&--italic {
			font-style: italic;
		}
	}

	&__head:last-child {
		margin-top: 5px;
	}

	&__content {
		flex: 3;
		display: flex;
		flex-flow: column nowrap;
		width: 100%;
		height: 100%;
		padding: 3px 30px;
	}

	&__content-header {
		position: relative;
		padding: 0 0 3px 0;
		font-size: 12.5px;
		text-align: center;
		border-bottom: 1px solid black;
		border-width: 10%;
	}

	&__form-wrapper {
		display: flex;
		flex-flow: column nowrap;
		margin: 12px 0 16px;
	}

	&__form {
		display: flex;
		flex-wrap: wrap;
		width: 100%;
		font-size: 13px;
	}

	&__form-title {
		display: block;
		width: 27%;
	}

	&__form-divider {
		display: block;
		width: 6px;
	}

	&__form-content {
		display: block;
		width: calc(73% - 6px);
		padding-left: 5px;
	}	

	&__footer {
		flex: 3;
		display: flex;
		flex-flow: column nowrap;
		justify-self: flex-end;
		justify-content: flex-start;
		align-items: flex-start;
		width: 100%;
		height: 100%;
		padding: 10px 30px;
		border-top: 2px solid black;
	}

	&__footer-item {
		display: block;
		width: 100%;
		font-size: 11px;
		text-align: left;
	}

	&__rules {
		padding-left: 18px;
		font-size: 11px;
	}

	&__rules-item {
		list-style-type: decimal;
		line-height: 11px;
	}
}

.kartu-foto {
	flex: 1;
	margin-left: 38px;
	width: 265px;
	flex-direction: column;
	flex-wrap: nowrap;
	position: relative;
	border: 2px solid black;
	font-family: Helvetica, sans-serif;
	padding: 6px 57px;
	padding: 6px 10px;

	&__header {
		flex: 1;
		display: flex;
		flex-flow: column nowrap;
		align-items: center;
		justify-content: center;
		height: 18%;
		padding-bottom: 3px;
	}

	&__title {
		text-transform: uppercase;
		font-size: 25px;
	}

	&__subtitle {
		text-transform: uppercase;
		font-size: 17px;
	}

	&__foto-wrapper {
		display: flex;
		flex-wrap: nowrap;
		justify-content: center;
		align-items: center;
		padding: 20px 0 35px;
	}

	&__foto {
		width: 105.82677165px;
		height: 143.62204724px;
		border: 1px solid #212121;
		font-size: 12px;
		display: inline-flex;
		justify-content: center;
		align-items: center;
	}

	&__footer {
		justify-self: flex-end;
		font-size: 13px;
		display: flex;
		align-items: flex-end;
		flex-flow: column nowrap;
		padding: 10px 15px 0;
	}

	&__ttd {
		margin-top: 15px;
		padding-right: 25px;
	}
}